@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Pharmacy and Medical Database</h1>
    <p class="lead">Made and maintained by Drew Johnson For the Cuero Pharmacy Museum</p>
</div>

<div class="row">
    <div class="col-sm-4">
        <h2>Recent Changes 1</h2>
        <p>
           @ViewBag.message1
        </p>
    </div>
    <div class="col-sm-4">
        <h2>
        Recent Changes 2
        </h2>
        <p>@ViewBag.message2</p>
    </div>
    <div class="col-sm-4">
        <h2>Recent Changes 3</h2>
        <p>
        @ViewBag.message3
        </p>
    </div>
</div>